body{
    margin: 0;;
}
#activate{
    color:red;
}
.saw{
    color:purple;
}
a{
    color:black;
}
h1{
    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid purple;
    margin:0;
    padding:20px;
}
ol{
    border-right: 1px solid purple;
    width:100px;
    margin:0;
    padding:20px;
}
#grid{
    display: grid;
        grid-template-columns: 200px 1fr;
}
@media(max-width:500px){
    #grid{
    display: block;
    }
    ol{
        border-right: none;
    }
    h1{
    border-bottom: none;  
    }
}